@import '../../constans/colors.scss';

.fact {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  max-width: 450px;
  max-height: 400px;
  //height: calc(100vw - 20px);
  border-radius: 10px;
  background-color: $cornflower-blue;
  color: white;

  &__label {
    text-align: center;
  }

  &__temp {
    font-family: sans-serif;
    font-size: 96px;
    font-weight: bold;
  }

  &__condition {
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }

  &__props {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    width: 50%;
  }
}

.temp {
  position: relative;
  text-align: center;
}

.term {
  font-size: 20px;
  padding: 10px 0;

  &__label {
    display: inline-block;
  }

  &__value {
    display: inline-block;
  }
}