@import '../../constans/colors.scss';

.forecast-day {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 5px;
  text-align: center;
  color: white;
  background: $turquoise;
  border-radius: 20px;
  cursor: pointer;

  &__name {
    font-size: 16px;
  }

  &__date {
    display: block;
    padding: 5px;
  }

  &__temp {
    font-size: 36px;
  }

  &__icon {
    width: 80%;
  }
}

.forecast-day-full {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;///
  z-index: 2;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  cursor: pointer;

  &__name {
    font-size: 30px;
  }

  &__date {
    display: block;
    padding: 5px;
  }

  &__temp {
    font-size: 96px;
  }

  &__icon {
    display: block;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
  }
}

.forecast {
  &-hours-container {
    position: relative;
    display: inline-block;
    margin: 50px;
    max-width: 100%;
    border-radius: 10px;

    @media (max-width: 400px) {
      margin: 50px 20px;
    }
  }

  &-hour {
    box-sizing: border-box;
    width: 70px;
  }
}