.app {
  position: relative;
  box-sizing: border-box;

  &__search {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px 0;
  }

  &__fact {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0 16px;
  }
}

.forecast-container {
  display: block;
  margin: 0 auto;
  height: 200px;

  @media (min-width: 640px) {
    width: 640px;
  }
}

.div {
  width: 120px;
  margin-right: 10px;
}

