.search {
  display: flex;
  height: 2rem;
}

.search__input {
  box-sizing: border-box;
  height: 100%;
}

.search__button {
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  cursor: pointer;
}

.search__list {
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
}

.search__list:hover {
  background-color: darkgrey;
}
