.search {
  position: relative;

  &__inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
  }

  &__control {
    width: 100%;
    font-family: Roboto, sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__suggestions {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__suggestion {
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    background: #FFBC53;
    border: 1px solid black;
    border-top: 0;
    cursor: pointer;
    padding: 6px 0;
    &:hover {
      background: gray;
    }
  }
}

// .search {
//   box-sizing: border-box;
//   position: relative;
//   height: 20px;

//   &__value {
//     text-align: center;
//   }

//   &__button {
//     box-sizing: border-box;
//     display: block;
//     height: 20px;
//     width: 20px;
//     cursor: pointer;
//     border: 0;

//     &-loupe {
//       position: absolute;
//       top: 0;
//       right: 0;
//       background: url('./icon-search.svg') center center;
//       background-size: contain;
//     }

//     &-arrow {
//       background: url('./icon-arrow.svg') center center;
//       background-size: contain;
//     }

//     &-close {
//       background: url('./icon-close.svg') center center;
//       background-size: contain;
//     }
//   }

//   &__control {
//     box-sizing: border-box;
//     margin: 0;
//     width: 100%;
//     padding: 0;
//     padding-left: 5px;
//     border: 0;

//     &:focus {
//       outline: none;
//     }
//   }

//   &__inner {
//     box-sizing: border-box;
//     position: absolute;
//     width: 100%;
//     z-index: 10;
//   }

//   &__container {
//     display: flex;
//     padding-bottom: 5px;
//     border-bottom: 1px solid black;
//   }

//   &__suggestions {
//     display: flex;
//     flex-direction: column;
//   }

//   &__suggestion {
//     background: white;
//     border: 1px solid black;
//     border-top: 0;
//     cursor: pointer;
//     padding: 6px 0;
//     &:hover {
//       background: gray;
//     }
//   }
// }